.product__card__card.item {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  height: 70vh;
}

.product__card__price {
  position: relative;
}

.dollar__coin {
  transform: translate(75%, 0%);
}

.product__price {
  transform: translate(100%, 0%);
}

.button__wrapper {
  width:500px;
  margin-left: auto;
  margin-right: auto;
}

.fixed__button {
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.full__width {
  width: 100%;
}

.m__t__15 {
  margin-top: 15px;
}
