.m__b__0{
  margin-bottom: 0;
}

.m__l__10{
  margin-left: 10px;
}

.p__15 {
  padding: 15px;
}

.point__card {
  background-color: #F5F5F5;
}

.point__wrapper {
  background-color: white;
  margin-top: 10px;
  border-radius: 20px;
}