.m__y__30 {
  margin-top : 30px;
  margin-bottom: 30px;
}

.p__y__50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.gacha__card__container {
  width:500px;
  /* height:400px; */
  height: auto;
  margin: auto;
  box-shadow: 0px 2px 5px -2px;
}

.gacha__header h1 {
  font-size: 2.3rem;
  font-weight: bolder ;
}

.dropzone {
  border: 2px dashed #ccc;
  padding: 5px;
  width: 212px;
  margin: auto;
}

.dropzone-text {
  margin: 0;
}

.image-preview {
  width: 200px;
  height: 200px;
}

.m__b__30 {
  margin-bottom: 30px;
}

table td {
  vertical-align: middle!important;
}
